<div class="container">
    <form class="form-signin" method="post" action="">
        <h2 class="form-signin-heading">Admin Login</h2>
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Name" name="admin_name" type="text" autofocus required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" name="admin_pass" type="password" required>
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="login" name="admin_login">
        </fieldset>
    </form>
</div>
